.main {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
 
.pokemons {
  align-items: center;
  background-color: #b98cdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: serif ;
  font-size: 30px;
  color: #000000;
  border-radius: 100%;
  height: 110px;
  width: 180px;
  margin: 25px;
  cursor: pointer;
  border-color: #000000;
}

.pokemons:hover { 
  transform: scale(1.50);
  background-color: #ffffff;
  color: #000000;
}

.pokemons img {
  width: 130px;
} 
