.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  
  .form input, button {
    width: 400px;
    height: 35px;
    margin-top: 10px;
    border: 2px solid #080101;
    border-radius: 7px;
    box-shadow: 10px 10px 20px 20px black;
  }
  
  .form button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: rgb(172, 23, 159);
  }
  