.adicionar-animal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
}

.adicionar-animal input,
button {
  font-style: italic;
  width: 300px;
  height: 40px;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  border-radius: 20px;
  border-color: rgb(0, 0, 0);
  color: white;
  background-color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}

.adicionar-animal button {
  background-color: rgb(45, 44, 46);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.adicionar-animal button:hover {
  transition: 0.9s ease-in-out;
  background: #787679;
  color: white;
  font-size: 24px;
}