.adicionar-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .title {
    margin: 30px;
    color: black;
  }
  
  .adicionar-produto input,
  button {
    font-style: italic;
    width: 300px;
    height: 40px;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
  }
  
  .adicionar-produto button {
    background-color: rgb(103, 101, 105);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .adicionar-produto button:hover {
    transition: 0.9s ease-in-out;
    color: white;
    font-size: 24px;
  }